
.container{
    display: relative;
    align-items: center;
    text-align: center;
}

h1{
    text-align : center;
    padding: 100px;
}

.btn {
    margin: 5px;
}
.btn:hover{
    opacity: 0.8;
}